.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #C87BD6, #9c1db2); /* �׶���Ʈ ��� */
    padding: 15px 20px;
}

.logo {
    font-size: 40px; /* ���ϴ� ũ��� ���� */
    font-weight: bold; /* ���� ���� */
    color: black;
    text-decoration: none; /* ���� ���� */
}

.nav {
    display: flex;
    justify-content: flex-start; /* 왼쪽 정렬 */
    gap: 15px; /* ��ư ���� */
}

.nav-button {
    display: flex;
    justify-content: flex-start; /* 왼쪽 정렬 */
    background-color: #C87BD6; /* ��ư ���� */
    color: white; /* ��ư �۾��� */
    border: none;
    border-radius: 25px; /* �ձ� �𼭸� */
    padding: 10px 20px; /* ���� */
    cursor: pointer;
    font-size: 16px; /* �۾� ũ�� */
    transition: all 0.3s ease; /* �ִϸ��̼� */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* �׸��� ȿ�� */
    text-decoration: none; /* ��ũ ������� ���� */
}

    .nav-button:hover {
        background-color: #C87BD6; /* ȣ�� �� ���� ��ȭ */
        transform: translateY(-2px); /* ȣ�� �� �ణ �ö󰡴� ȿ�� */
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* ȣ�� �� �׸��� ��ȭ */
    }
