
  .category-page-category-bar {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
  }

  .category-page-filter-bar{
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
    justify-content: space-between;  /* 좌측과 우측 끝에 배치 */
    align-items: center;  /* 수직 중앙 정렬 */
    margin-right: 20px;
  }

  .category-page-left-buttons {
    display: flex;
    gap: 10px;  /* 버튼 간 간격 */
  }
  
  .category-page-category-bar a,
  .category-page-filter-bar button {
    margin-top:10px;
    margin-left:20px;
    padding: 10px 15px;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .category-page-category-bar a.active,
  .category-page-filter-bar button.active {
    background-color: #C87BD6;
    color: white;
  }
  
/* 글쓰기 버튼 스타일 */
.search-button,
.category-page-write-button {
  padding: 10px 20px;
  background-color: #C87BD6; 
  color: white;
}

.search-button:hover, 
.category-page-write-button:hover {
  opacity: 0.8;
}