/* �α��� ������ ��ü �����̳� */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f8f8;
}

/* �������� �ΰ� */
.logo {
    font-size: 36px;
    color: #800080; /* ����� */
    margin-bottom: 30px;
    font-weight: bold;
}

/* �α��� �� */
.login-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* �Է� �ʵ� �׷� */
.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

    .input-group label {
        margin-bottom: 5px;
        color: #333;
    }

    .input-group input {
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

/* �α��� ��ư */
.login-button {
    padding: 10px;
    background-color: #800080; /* ����� */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

    .login-button:hover {
        background-color: #c19cd9; /* ���� ����� */
    }

/* �α��� ������ ��ũ�� */
.login-links {
    margin-top: 20px;
    text-align: center;
}

    .login-links a {
        display: block;
        margin-top: 10px;
        color: #800080;
        text-decoration: none;
    }

        .login-links a:hover {
            text-decoration: underline;
        }
