.nav-button {
    margin: 20px;
    padding: 10px 15px;
    background-color: #9c1db2; /* ����� */
    color: white; /* ���ڻ� */
    text-decoration: none; /* ��ũ ���� ���� */
    border-radius: 5px; /* �𼭸� �ձ۰� */
    transition: background-color 0.3s;
}

    .nav-button:hover {
        background-color: #9c1db2; /* ���콺 ���� �� ���� ���� */
    }
