a {
    color: inherit; /* 부모 요소의 색상과 동일하게 */
    text-decoration: none; /* 밑줄 제거 */
  }
  
a:hover {
    text-decoration: underline; /* 마우스를 올렸을 때 밑줄 표시 (선택사항) */
}

.reject-button, .resolve-button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #C87BD6;
  color: white;
}

.reject-button:hover, .resolve-button:hover {
  opacity: 0.8;
}

.go-back-button {
  background-color: transparent;
  border: none;
  color: #C87BD6;
  font-size: 15px;
  cursor: pointer;
}

.go-back-button:hover {
  color:#cd40cd;
}