/* 회원가입 페이지 전체 컨테이너 */
.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f8f8;
}

/* 회원가입 제목 */
.title {
    font-size: 36px;
    color: #800080; /* 보라색 */
    margin-bottom: 30px;
    font-weight: bold;
}

/* 회원가입 폼 */
.signup-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* 입력 필드 그룹 */
.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

    .input-group label {
        margin-bottom: 5px;
        color: #333;
    }

    .input-group input,
    .input-group select {
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

/* 회원가입 버튼 */
.signup-button {
    padding: 10px;
    background-color: #800080; /* 보라색 */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

    .signup-button:hover {
        background-color: #c19cd9; /* 연한 보라색 */
    }
